html,
body {
    height: 100%;
}

.frame,
.full {
    display: flex;
    align-content: space-around;
    height: 75%;
    width: 100%;
}

.container {
    margin: 0px !important;
    max-width: none !important;
    padding: 0px 3em !important;
}

.frame {
    height: auto !important;
}

.site-footer-inner {
    width: 100% !important;
}

.convert {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.converter-footer {
    padding-top: 0px !important;
}

.active {
    transition: 1s;
    border-radius: 6px !important;
    background-color: rgba(40, 123, 255) !important;
    color: white !important;
}